<!DOCTYPE html>
<html>
<head lang="en">
    <meta name=”renderer” content=”webkit”>
    <meta  content=”IE=Edge,chrome=1″>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="__layui__/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <script src="__JS__/jquery-2.2.4.js"></script>
    <script src="/static/admin/js/layer/layer.js"></script>
    <script src="__layui__/layui.js"></script>
    <script src="__JS__/rotate.js"></script>
    <script src="__JS__/vue.js"></script>
    <script src="__JS__/axios.min.js"></script>
    <script src="__JS__/index.js"></script>
</head>
