{include file="public/header" /}
<style>
    td{
        text-align: center;
    }
</style>
<body class="gray-bg">
<div style="padding: 20px; background-color: #F2F2F2;" id="dailyStat">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="col-sm-2" style="font-weight: bold;color: red"> 生成统计数据</div>
                    <div class="col-sm-4">
                                <span class="input-group-btn" id="dateShowBtn" style="height: 50px;">
                                    <input type="text" name="start_time" id="dateSelectorTwo" lay-verify="date" placeholder="开始时间" autocomplete="off"
                                           class="form-control jeinput" value="{$start_time}">
                                </span>
                    </div>
                    <button class="layui-btn" @click="add_ptdata()">生成平台统计数据</button>
                    <button class="layui-btn" @click="add_qyqdata()">生成亲友圈统计数据</button>
                </div>
                <div class="layui-card-body">
                    <div id="containertrend" style="border: 1px solid #e2e2e2;height: 600px">
                        <!-- 加载动画 -->
                        <div class="spiner-example" v-show="is_ok">
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header"></div>
                <div class="layui-card-body">
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
    var app = new Vue({
        el: '#dailyStat',
        data: {
            dateData: [],
            start_time: "{$start_time}",
            is_ok: false,
        },
        created () {

        },
        methods: {
            add_ptdata() {
              let vm = this;
              let date = $('#dateSelectorTwo').val();
                axios
                    .post('/api/index/get_t_datad',{date:date})
                    .then(function (response) {
                        if(response.data.code==1) {
                            layer.msg('生成成功');
                        }else{
                            layer.msg(response.data.message);
                        }
                        console.log(response);
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            add_qyqdata() {
              let vm = this;
               vm.is_ok=true;
                let date = $('#dateSelectorTwo').val();
                axios
                    .post('/api/index/get_qyq_datad',{date:date})
                    .then(function (response) {
                        if(response.data.code==1) {
                            vm.is_ok = false;
                            layer.msg('生成成功');
                        }else{
                            layer.msg(response.data.message);
                            vm.is_ok = false;
                        }
                        console.log(response);
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
        },
        mounted:function(){
        }
    })

    jeDate("#dateSelectorTwo",{
        theme:{bgcolor:"#1ab394",pnColor:"#00CCFF"},
        format: "YYYY-MM-DD"
    });

</script>
</body>
</html>
