{include file="public/headers" /}
<style>
    .div_dialog{
        color: #333;
    }
    .registerBtn{
        width: 100%;
        height: 35px;
        background: #ef4300;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #ff730e;
        -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
        -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
        box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
        font-family: 'PT Sans', Helvetica, Arial, sans-serif;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0,0,0,.1);
        -o-transition: all .2s;
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
    }
</style>
<body>
<div class="rotate-canvas" id="rotateFade">
    <div class="main-top">
        <div class="logo" style="line-height: 40px;margin-top: 10px">
            <img src="__IMGS__/119x27-logo.png">
            <div style="width: 1000px;line-height: 18px;font-size: 12px">
                <span class="on">简体中文</span>
                English Español Deutsch Italiano Português Dansk Svenska Norsk
                <span style="color: #FFDF1B">繁體中文</span> Български
                Ελληνικά Polski Română Česky Magyar Slovenčina Nederlands Eesti
            </div>
        </div>
        <ul>
            <li><a class="" href="/home/index/login">登陆</a></li>
        </ul>
    </div>
    <div class="register-box">
        <form name="admin_list_sea" class="form-search" method="post" action="{:url('save_password')}">
        <div class="form">
            <div class="register-top">修&nbsp;&nbsp;改&nbsp;&nbsp;密&nbsp;&nbsp;码&nbsp;&nbsp;</div>
            <div class="input-div"><input type="password" name="password"   placeholder="旧密码"></div>
            <div class="input-div"><input type="password" name="newpassword" placeholder="设置新密码"></div>
            <div class="input-div"><input type="password" name="newpassword1" placeholder="确认新密码"></div>
            <div class="btn-box">
                <button class="registerBtn" type="submit">提交</button>
            </div>
        </div>
        </form>
    </div>
</div>
</body>
<script>
    ;(function(){
        var h_w = $(window).height();
        var w_w = $(window).width();
        $(".rotate-canvas").css('height',h_w+"px");
    })()
</script>
</html>
