{include file="public/headers" /}
<body>
<div class="home">
    <div class="main-top">
        {include file="index/top_ajx"/}
    </div>

    <div class="nav-top">
        <ul>
            <li>市场列表</li>
            <li>交易明细</li>
            <li class="on">历史账务</li>
            <li>赛事结果</li>
            <li>最新公告</li>
        </ul>
    </div>


    <div class="bg-box">
        <div class="details">
            <div class="nav-left account" style="position: inherit;overflow: hidden">
                <div class="title">我的账户</div>
                <div class="nav-list teb-switch">
                    <ul class="list-box">
                        <li class="on"><div class="ac-li">存款</div></li>
                        <li><div class="ac-li">提款</div></li>
                        <li><div class="ac-li">交易记录</div></li>
                        <li><div class="ac-li">绑定提款卡</div></li>
                        <li><div class="ac-li">个人资料</div></li>
                        <li><div class="ac-li">会员推广链接</div></li>
                        <li><div class="ac-li">问题反应</div></li>
                    </ul>
                </div>
            </div>

            <div class="con-right">
                <div class="content active">
                    <div class="top">
                        <div class="ac-title">选择支付方式</div>
                    </div>
                    <div class="right-main-con">
                        <div class="pay-box">
                            <ul>
                                <li>
                                    <div>
                                        <p>流水号存款</p>
                                        <p>是用线上支付管道进行存款</p>
                                    </div>

                                </li>
                                <li> <div>
                                    <p>微信存款</p>
                                    <p>是用线上支付管道进行存款</p> </div>
                                </li>
                                <li> <div>
                                    <p>支付宝存款</p>
                                    <p>是用线上支付管道进行存款</p> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="top">
                        <div class="ac-title">选择支付方式</div>
                    </div>
                    <div class="right-main-con">
                        <div class="pay-box">
                            <ul>
                                <li>
                                    <div>
                                        <p>流水号提款</p>
                                        <p>是用线上支付管道进行提款</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="game-data">

                        <div class="search-box">
                            <a class="refresh">刷新：52</a>
                        </div>
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td>单号</td>
                                <td>账务日期</td>
                                <td>类别</td>
                                <td>内容</td>
                                <td>金额</td>
                                <td>状态</td>
                                <td>备注</td>
                            </tr>
                            <tr>
                                <td>201808</td>
                                <td>2018-08-08</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td>存款金额：</td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                                <td class="c-orange">提款金额：</td>
                                <td>0</td>
                                <td></td>
                            </tr>
                        </table>


                    </div>
                </div>
                <div class="content">
                    <div class="game-data">
                        <div class="search-box">
                            <a class="search-btn" style="margin-left: 0">+ 添加卡</a>
                            <a class="refresh">刷新</a>
                        </div>
                        <div class="table-top">
                            <span class="txt1">提款卡资料</span>
                        </div>
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td>*开户银行</td>
                                <td>*开户姓名</td>
                                <td>*账号</td>
                                <td>状态</td>
                                <td>类别</td>
                            </tr>

                        </table>
                        <div class="attention">
                            <div class="c-orange">注意事项</div>
                            <div class="txt">
                                <p>1. 银行卡绑定主要用于会员提款使用，请认真核对。</p>
                                <p> 2. 一位会员只能绑定一张银行卡，如需修改提款帐户，请联系客服人员修改。</p>
                                <p> 3. 为了您的提款能快速到账，请准确填写办理银行卡时的开户信息。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="game-data">
                        <div class="search-box">
                            <a class="" style="margin-left: 0;font-size: 24px;color: #FFDF1B">个人资料</a>
                            <a class="refresh">刷新</a>
                        </div>
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td>账号</td>
                                <td>账户余额</td>
                                <td>交易笔数</td>
                            </tr>
                            <tr>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>

                        </table>
                        <div class="set-data">
                            <div class="title" style="color: #FFDF1B">设定资料</div>
                            <ul class="txt-ul">
                                <li>
                                    <span>手机</span>
                                    <span></span>
                                </li>
                                <li>
                                    <span>电子邮箱</span>
                                    <span>123456789@qq.com</span>
                                </li>
                                <li>
                                    <span>QQ账号</span>
                                    <span></span>
                                </li>
                                <li>
                                    <span>微信账号</span>
                                    <span></span>
                                </li>
                                <li>
                                    <span>密码</span>
                                    <span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="generalize">
                        <div class="title">会员推广链接</div>
                        <div class="qr-code"></div>
                        <div class="link"><a class="">www.baidu.com</a></div>
                        <div class=""><a>点击前往</a></div>
                    </div>
                </div>


                <div class="content">
                    <div class="problem">
                        <div class="search-box">
                            <a class="" style="margin-left: 0;font-size: 24px;color: #FFDF1B">问题反应</a>
                            <a class="refresh">刷新</a>
                        </div>
                        <div class="con">
                            <div class="title">内容</div>
                            <textarea placeholder="请输入..."></textarea>
                            <a class="sure">确定</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
<script>
    $(function () {
        $('.teb-switch ul li').click(function(){
            var index = $(this).index();
            $(this).addClass('on').siblings().removeClass('on');
            $('.content').eq(index).addClass('active').siblings().removeClass('active');
        });
    })

    var data = [
        '北京',
        '上海',
        '广州',
        '深圳',
        '杭州',
        '长沙',
        '合肥',
        '宁夏',
        '成都',
        '西安',
        '南昌',
        '上饶',
        '沈阳',
        '济南',
        '厦门',
        '福州',
        '九江',
        '宜春',
        '赣州',
        '宁波',
        '绍兴',
        '无锡',
        '苏州',
        '徐州',
        '东莞',
        '佛山',
        '中山',
        '成都',
        '武汉',
        '青岛',
        '天津',
        '重庆',
        '南京',
        '九江',
        '香港',
        '澳门',
        '台北'
    ];

    //调用分页
    laypage.render({
        elem: 'demo20'
        ,count: data.length
        ,jump: function(obj){
            //模拟渲染
            document.getElementById('biuuu_city_list').innerHTML = function(){
                var arr = []
                    ,thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
                layui.each(thisData, function(index, item){
                    arr.push('<li>'+ item +'</li>');
                });
                return arr.join('');
            }();
        }
    });
</script>
</html>
